@model FITWiki.Models.Pitanja


@{
    ViewBag.Title = "CreateQuestion";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<script type="text/javascript">
    $(function () {
        $("select#OS").change(function (evt) {

            if ($("select#OS").val() != "-1") {

                $.ajax({
                    url: "/QA/GetVersions",
                    type: 'POST',
                    data: { OS: $("select#OS").val() },
                    success: function (response) {
                        $("select#Version").replaceWith(response)
                    },
                    error: function (xhr) {
                        alert("Something went wrong, please try again");
                    }
                });
            }
        });

        $("#btn").click(function () {
            


                var TemaID = $("select#Version").val();
                if (TemaID != -1)
                {
                    var pitanje = $("#IdTextArea").val();
           

                 $.post("@Url.Action("CreateQuestion","QA")", { txtPitanja: pitanje, temaID: TemaID }, function () { });

                    alert("Pitanje uspiješno posavljeno!");
                  $('#IdTextArea').val('');
                    }

            else {
                alert("Error, must select tema!")
            }
        });


    });
 
      
    
      
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Pitanja</legend>

        <div class="form-horizontal">
            <div class="control-group">
                <div class="control-label">Oblast:</div>
                <div class="controls">
                    <select id="OS" name="OS">
                        <option value="-1">Izaberite nešto</option>
                        @foreach (var item in ViewBag.ListaOblasti)
                        {
                            <option value="@item.OblastID">@item.Naziv</option>
                
                        }
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">Tema:</div>
                <div class="controls">
              <select id="Version" name="Version">
                        <option value="-1">Tema</option>
                    </select>

                  
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                              <label>Unesite pitanje: </label>
                </div>
    
                  <div class="controls">
                    <textarea id="IdTextArea" name="pitanje" rows="7" class="input-xxlarge"></textarea>
          
                </div>
            </div>
           

            <div class="form-actions">
                @Html.ActionLink("Nazad", "Index", null, new { @class = "btn" })
                <button id="btn" type="button" class="btn btn-primary">Sačuvaj</button>
            </div>

        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
