@model FITWiki.Models.Pitanja


@{
    ViewBag.Title = "CreateQuestion";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pitanja</legend>

        <div class="form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    @Html.Label("Tema")
                </div>
                <div class="controls">
                    @Html.DropDownListFor(g => g.TemaID, new SelectList((List<FITWiki.Models.Teme>)ViewBag.ListaTema, "TemaID", "Naziv"))
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Tekst)
                </div>
                <div class="controls" >
                    @Html.TextAreaFor(model => model.Tekst)
                    @Html.ValidationMessageFor(model => model.Tekst)
                </div>
            </div>

    
                <div class="form-actions">
                @Html.ActionLink("Nazad", "Index", null, new { @class = "btn" })
                <button type="submit" class="btn btn-primary">Sačuvaj</button>
            </div>

        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
