@model IEnumerable<FITWiki.Models.Clanci>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClanakID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sazetak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KljucneRijeci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrsteClanaka.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teme.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korisnici.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Izmjene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumKreiranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzmjene)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClanakID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naslov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sazetak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tekst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KljucneRijeci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrsteClanaka.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teme.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnici.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Izmjene)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumKreiranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzmjene)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
