@model IEnumerable<FITWiki.Models.Clanci>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<fieldset>
    <legend>Članci</legend>
</fieldset>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form class="form-inline">
    
    @Html.DropDownList("VrstaID", String.Empty)
    <input type="text" class="input-large" id="naslov" name="naslov" placeholder="Naslov">
    <input type="text" class="input-large" id="kRijeci" name="kRijeci" placeholder="Ključne riječi">
    <button type="submit" class="btn" id="Index">Pretraga</button>
</form>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VrsteClanaka.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teme.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autori)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VrsteClanaka.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teme.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naslov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autori)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClanakID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClanakID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClanakID })
        </td>
    </tr>
}

</table>
