@model FITWiki.Models.Korisnici

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Korisnici</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KorisnikID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KorisnikID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prezime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prezime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatumRodjenja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatumRodjenja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatumRegistracije)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatumRegistracije)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PosljednjaPrijava)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PosljednjaPrijava)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KorisnickoIme)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KorisnickoIme)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LozinkaHash)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LozinkaHash)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LozinkaSalt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LozinkaSalt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Aktivan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aktivan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatumIzmjene)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatumIzmjene)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
