@model FITWiki.Models.Korisnici

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<fieldset>
    <legend>@Html.DisplayFor(model => model.Ime)
        @Html.DisplayFor(model => model.Prezime) </legend>
    <div class="row-fluid">
        <div class="clearfix"></div>
        <div class="span3">
            <strong>@Html.DisplayNameFor(model => model.Spol)</strong>
        </div>
        <div class="span5">
            @Html.DisplayFor(model => model.Spol)
        </div>
        <div class="clearfix"></div>
        <div class="span3">
            <strong>@Html.DisplayNameFor(model => model.DatumRodjenja)</strong>
        </div>
        <div class="span5">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </div>
        <div class="clearfix"></div>
        <div class="span3">
            <strong>@Html.DisplayNameFor(model => model.Mail)</strong>
        </div>
        <div class="span5">
            @Html.DisplayFor(model => model.Mail)
        </div>
        <div class="clearfix"></div>
        <div class="span3">
            <strong>@Html.DisplayNameFor(model => model.DatumRegistracije)</strong>
        </div>
        <div class="span5">
            @Html.DisplayFor(model => model.DatumRegistracije)
        </div>
        <div class="clearfix"></div>
        <div class="span3">
            <strong>@Html.DisplayNameFor(model => model.KorisnickoIme)</strong>
        </div>
        <div class="span5">
            @Html.DisplayFor(model => model.KorisnickoIme)
        </div>

        <div class="clearfix"></div>
        <div class="span3">
            <strong>@Html.DisplayNameFor(model => model.PosljednjaPrijava)</strong>
        </div>
        <div class="span5">
            @Html.DisplayFor(model => model.PosljednjaPrijava)
        </div>
        <div class="clearfix"></div>
        <div class="span3">
            <strong>@Html.DisplayNameFor(model => model.Aktivan)</strong>
        </div>
        <div class="span5">
            @Html.DisplayFor(model => model.Aktivan)
        </div>
    </div>
</fieldset>
<div class="form-actions">
    @Html.ActionLink("Edit", "Edit", new { id = Model.KorisnikID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</div>
